:root {
  --verdigris: #48a9a6;
  --violet: #6b4e71;
  --ultrered: #f26a8d;
  --ulteredfade: #f26a8d44;

  --timberwolf: #e4dfda;
  --burlywood: #d4b483;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Quicksand', sans-serif;
  background-color: var(--violet);
  color: var(--timberwolf);
}

header {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  height: 5rem;
  background-color: var(--violet);
}
header h1 {
  width: 33%;
  text-align: center;
}
#logo a {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#logo i {
  background-color: var(--ultrered);
  border-radius: 50%;
  font-size: 4rem;
  margin-right: 0.5rem;
}

main {
  max-width: 70rem;
  margin: 0 auto;
  gap: 1rem;
}

.g3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

a {
  color: var(--timberwolf);
  text-decoration: none;
}

.product {
  margin-bottom: 2rem;
  background-color: var(--ulteredfade);
  border-radius: 0.5rem;
}
.product > * {
  padding: 0.2rem 1rem;
}
.product h2 {
  font-size: 2rem;
  background-color: var(--ultrered);
  color: var(--timberwolf);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category {
  font-size: 1rem;
  font-variant: small-caps;
}
.product p {
  text-align: center;
  font-size: 1.25rem;
  margin: 1rem 0;
}
.product img {
  display: block;
  margin: 0 auto;
  object-fit: cover;
  width: 80%;
  margin-bottom: 1rem;
}
.product h3 {
  text-align: center;
}
.product button,
input[type='submit'] {
  padding: 0.5rem 1rem;
  background-color: var(--verdigris);
  color: var(--timberwolf);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.25rem;
}

#login {
  max-width: 30rem;
  margin: 1rem auto 0 auto;
  text-align: center;
  background-color: var(--ulteredfade);
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0.3rem var(--ulteredfade);
  padding: 2rem 4rem;
  font-size: 1.5rem;
}
#login h1 i {
  font-size: 6rem;
  margin-bottom: 1rem;
  background-color: var(--ultrered);
  border-radius: 50%;
}
#login input {
  font-size: 1.5rem;
  margin: 1rem 1rem 2rem 1rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.3rem;
}
#login input[type='submit'] {
  padding: 1rem 2rem;
}

#cart {
  background-color: var(--ultrered);
  position: absolute;
  top: 4.5rem;
  right: 0;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.3rem var(--violet);
}
#cart ul {
  list-style: none;
}
#cart p {
  font-weight: bold;
  font-size: 1.25rem;
  padding: 0.5rem;
}
.dropin {
  animation: drop 350ms ease-in-out;
}
@keyframes drop {
  75% {
    transform: scale(2) rotate(45deg);
  }
}

#cartForm {
  display: none;
}
#cart input[type='submit'] {
  display: block;
  margin: 1rem auto;
}

#admin li {
  list-style: none;
  padding: 0.5rem;
}
